* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Aldrich', sans-serif;
}

#map {
    height: 400px;  /* The height is 400 pixels */
    width: auto;  /* The width is the width of the web page */
    /* margin-left: 25%;
    margin-right: 25%; */
    outline: 2px solid #d9a738;
    padding-top: 1rem;
}

body {
}

.navigbar {
    /* grid-gap: 1em; */
    background-color: lightgray;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-auto-rows: 100px;
    font-size: 3em;
    text-align: center;
    position: sticky;
    z-index: 1;
    left:0;
    right:0;
    top:0;
    animation: heading;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes heading {
    0% {top: 150px}
    100% {top: 1px}
}

.navigbar div {
    color: #d9a738;
    padding: 2rem;
    height: auto;
}


.wrapper {
    grid-template-columns: 2fr 8fr;
}

.wrapper div {
    color: black;
    margin-top: .5em;
    margin-bottom: .5em;
}

form {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nested-row {
    display: grid;
}

.nested-col {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: none;
}

div #display-moment {
    color: #d9a738;
}

#dayZero {
    color: #d9a738;
}

#day-one, #day-two, #day-three, #day-four, #day-five {
    color: #d9a738;
    font-size: 1.5rem;
}

form {
    align-self: top;
}

form h1 {
    padding: 1rem;
}

form input, form button {
    padding: 1rem;
    font-size: 1rem;
    border: none;
    background: #d9a738;
    color: black;
}

form button {
    color: black;
    background: #d9a738;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: black;
    color: #d9a738;
}

/* justify = x or row axis
align = y or column axis */

.box-0 {
    grid-auto-rows: 100px;
}

.box-1 {
    display: grid;
    grid-column: 1/2;
    grid-row: 0/1;
    /* margin-top: 1em; */
}

.box-2 {
    grid-column: 2/4;
    grid-row: 1/2;
    font-size: 2em;
}

.box-3 {
    grid-column: 1/4;
    grid-row: 2/3;
}

.box-4 {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: .2rem;
    margin-left: .2rem;
    margin-right: .2rem;
    margin-top: .2rem;
    margin-bottom: .2rem;
    /* justify-items: center; */
}

.box-4 button{
    background: #d9a738;
    color: whitesmoke;
    border: none;
    padding: .5em;
    font-size: 1em;
}

.box-4 button:hover {
    background: whitesmoke;
    color: #d9a738;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1em;
}

.box-5 {
    display: grid;
    grid-gap: 4em;
    grid-template-columns: repeat(3,1fr);
    padding: 2em;
    font-size: 1rem;
}

.box-6 {
    display: grid;
    grid-gap: 4em;
    grid-template-columns: repeat(3,1fr);
    padding: 2em;
}

.card {
    align-self: center;
    justify-content: center;
    align-items: center;
    padding-left: 6rem;
}

.today-tempF {
    color: #4f2196;
}

footer {
    text-align: center;
    background-color: lightgray;
    margin: none;
}

footer div {
    color: #d9a738;
}

.search-container {
    display: grid;
    justify-content: center;
    align-items: center;
  }

.search-list {
    min-width: 30%;
    list-style: none;
  }

::placeholder {
    color: black;
}

.parallax {
    background: url('./Assets/Skull_50.jpg') no-repeat center;
    opacity: 90%;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    margin-top: 2px;
}